/* MIXINS con opciones de display y alineaciones */

@mixin display($display, $justify-content, $align-items){
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
}

/* MAP con tamaños de letras para los titulos*/

$hs-tamaños:(
    h1:3.5rem,
    h2:2.5rem,
    h3:2rem,
);

/*Títulos para usarlos como EXTENDS */

.title_2{
    color: gold;
    font-style: italic;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: map-get($hs-tamaños,h2);
}

.title_3{
    color: white;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: map-get($hs-tamaños,h3);
}


*{
    padding: 0;
    margin: 0;
}

html{
    font-family: sans-serif;
    font-size: 1rem;
   
    .header{
        @include display(flex,space-between,center);
        background: black;
        padding: 0px 0px;
        position: sticky;
        top: 0;
        letter-spacing: 0.15rem;
        z-index: 2;
        .header_titulo{
            display: flex;
            align-content: center;
        }
        .nav_font_size{
        font-size: 1.25rem;
        }
    }

    main{
        background-image: linear-gradient(to bottom,black,#232b2b);
        .index_titulo{
            @include display(grid,center,center);
            text-align: center;
            padding: 25px 0px;
            h3{
                @extend .title_3;
            }
            h2{
                @extend .title_2;
            }
        }
        
        .index_res{
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            padding: 5vh 5vw;
            .index_res_1{
                padding: 1vh 5vw;
            }
            .index_res_2{
                padding: 1vh 5vw;
            }
            a{
                display: grid;
                text-decoration: none;
                color:white;
                font-size: 1.25rem;
                font-family: 'Spline Sans', sans-serif;
                strong{
                    font-family: 'Libre Baskerville', serif;
                }
            }
            a:hover{
                color:gold;
                opacity: 0.75;
            }
        }
        
        .prod_titulos{
            @include display(grid,center,center);
            padding-top: 5vh;
            text-align: center;
            h3{
                @extend .title_3;
            }
            h2{
                @extend .title_2;
            }
        }
        .prod__margin{
            margin: 2vw;
            .card_font_title{
                color: white;
                font-size: 1.5rem;
                font-family: 'Fjalla One', sans-serif;
            }
            .card_font_description{
                color: white;
                font-size: 1rem;
                font-family: 'Slabo 27px', serif;
            }
        }
        
        .tituloNos{
            @include display(grid,center,center);
            text-align: center;
            padding-top: 5vh;
            margin-bottom: 5vh;
            h3{
                @extend .title_3;
            }
            h2{
                @extend .title_2;
            }
        }
        .presentaciones{
            .presentaciones__espacios{
                margin: 2vh 0vw;
                h3{
                    display: grid;
                    font-size: map-get($hs-tamaños,h3);
                    margin: 2vh 0vw;
                    color: white;
                    em{
                        color: gold;
                        font-size: 1.5rem;
                    }
                }
            }
        }
        
        .tituloCont{
            @include display(grid,center,center);
            text-align: center;
            padding-top: 5vh;
            margin-bottom: 5vh;
            h3{
                @extend .title_3;
            }
            h2{
                @extend .title_2;
            }
        }

        
        .tituloZonas{
            @include display(grid,center,center);
            text-align: center;
            padding-top: 5vh;
            h3{
                @extend .title_3;
            }
            h2{
                @extend .title_2;
            }
        }
        .contacto{
            .font_type{
                font-family: 'Encode Sans', sans-serif;
            }
        }

        .reparto{
            @include display(flex, space-around,center);
            color: white;
            padding-top: 2rem;
            .rep__cond{
                padding-top: 1rem;
                h4{
                    font-size: 1.5rem;
                    font-family: 'Encode Sans', sans-serif;
                }
                ul{
                    list-style-type: none;
                    li:before{
                        content: "✓ ";
                    }
                    li{
                        font-family: 'Heebo', sans-serif;
                        margin-top: 2rem;
                        font-size: 1.2rem;
                    }
                }
            }
            .mapa{
                padding-bottom: 4vh;
                h4{
                    font-family: 'Encode Sans', sans-serif;
                    font-size: 1.5rem;
                    padding: 3vh 0;
                }
                iframe{
                    height: 300px;
                    width: 500px;
                }
                .map{
                    border: solid gold 2px;
                    border-radius: 20px;
                }
            }
            .zonas__cont{
                display: grid;
                text-align: center;
                .zonas__productos{
                    padding: 5vh 1.5vw;
                }
                .zonas__contacto{
                    padding: 5vh 1.5vw;
                }
                a{
                    display: grid;
                    text-decoration: none;
                    color:white;
                    font-size: 1.25rem;
                    font-family: 'Spline Sans', sans-serif;
                    strong{
                        font-family: 'Libre Baskerville', serif;
                    }
                }
                a:hover{
                    color:gold;
                    opacity: 0.75;
                }
            }
        }
    }

    .footer{
        @include display(flex,space-around,center);
        background-color:#232b2b;
        padding:20px 0px;
        color: white;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 1.1rem;
        .footer__ubic{
            a{
                text-decoration: none;
                color: white;
            }
            a:hover{
                color:gold;
            }
        }
        .footer__p{
            margin:0;
            text-align: center;
        }

    }
}





@media (min-width:992px) and (max-width:1200px){
    html{
        font-size: 0.9rem;
    }
}



@media (min-width:601px) and (max-width:991px){
    html{
        font-size: 0.8rem;
        main{
            .header{
                @include display(flex,space-around,center);
                background: black;
                padding: 10px 0px;
                position: sticky;
                top: 0;
                letter-spacing: 0.15rem;
                z-index: 2;
            }
          
           .index_res{
               display: grid;
               text-align: center;
               padding: 3vh 0vw;
           }
           .reparto{
            display: grid;
            .zonas__cont{
                @include display(flex, space-around, center);
                padding: 0;
                .zonas__productos{
                    padding: 1vh 0;
                }
                .zonas__contacto{
                    padding: 1vh 0;
                }
            }
            }
        }
    }
}



@media (min-width:450px) and (max-width:600px){
    html{
        font-size: 0.7rem;
        main{
            .header{
                @include display(flex,space-around,center);
                background: black;
                position: sticky;
                top: 0;
                letter-spacing: 0.05rem;
                z-index: 2;
            }
            
            .index_res{
                display: grid;
                text-align: center;
                padding-top: 3vh;
                padding-bottom: 0;
            }
            .reparto{
                display: grid;
                padding:1rem;
                .mapa{
                    justify-content: center;
                    padding-bottom: 0vh;
                    iframe{
                        height: 200px;
                        width: 400px;
                    }
                }
                .zonas__cont{
                    @include display(flex, space-around, center);
                    padding: 2vh 0;
                    .zonas__productos{
                        padding: 1rem;
                    }
                    .zonas__contacto{
                        padding: 1rem;
                    }
                }
            }
        }
    }
}



@media (max-width:449px){
    html{
        font-size: 0.6rem;
        
        .header{
            @include display(grid,flex-start,center);
            text-align: center;
            background: black;
            position: sticky;
            top: 0;
            letter-spacing: 0.05rem;

            z-index: 2;
        }
    
        main{
            .index_res{
                display: grid;
                text-align: center;
                padding-top: 3vh;
                padding-bottom: 0;
            }
            .index_titulo{
                padding-top: 1vh;
            }
            .prod_titulos{
                padding-top: 1vh;
            }
            .tituloZonas{
                padding-top: 1vh;
            }
            .tituloNos{
                padding-top: 1vh;
            }
            .tituloCont{
                padding-top: 1vh;
                margin-bottom: 1vh;
            }
            .reparto{
                padding: 1rem;
                display: grid;
                .mapa{
                    justify-content: center;
                    padding-bottom: 0vh;
                    iframe{
                        height: 200px;
                        width: 300px;
                    }
                }
                .zonas__cont{
                    @include display(grid, space-around, center);
                    padding: 0 0;
                    .zonas__productos{
                        padding: 3rem 0 0 0;
                    }
                    .zonas__contacto{
                        padding: 1rem;
                    }
                }
            }
        }
    
        .footer{
            @include display(grid,space-around,center);
            background-color:#232b2b;
            padding-top:15px;
            text-align: center;   
            color: white;
            .footer__p{
                margin:00px;
                text-align: center;
            }
            div a{
                text-decoration: none;
            }
        }
    }
}